<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      
      <!--This setup breaks LogMonitor.exe-->
      <!-- <file value="./mylog.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="10KB" /> -->

      <!--This setup works fine with LogMonitor.exe-->
      <file type="log4net.Util.PatternString" value="./AQUARIUS.jsonlog" />
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <staticLogFileName value="false" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value=".yyyy-MM-dd-HH-mm" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value="70KB"/>
      <!--Setting any positive value is ignored cause log4net is unable to delete the file while being locked by LogMonitor.exe-->
      <maxSizeRollBackups value="5"/>     
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>